@import url("https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap");

/*---- navbar css---- */
.logo-img {
  width: 130.052px !important;
  height: 69px !important;
  margin-left: 100px;
}
.login-btn {
  border: none;
  margin: 10px;
  border-radius: 3px;
  background: #114c5f;
  color: #fff;
  padding: 0.5rem 1.8rem;
}
.batch-btn {
  display: flex;
}

nav ul li {
  list-style: none;
  display: inline-block;
  padding: 10px 20px;
}
nav ul li a {
  text-decoration: none;
  color: #000;
  transition: 0.5s ease;
}
/*---- navbar css---- */

/*---- homepage css---- */

.home-image img {
  width: 298.127px;
  height: 394px;
}

.homePage {
  background: #008db3;
  width: auto;
  height: 620px;
}
.ShopNow-btn {
  background-color: #fff;
  color: #008db3;
  border-radius: 3px !important;
  font-size: 15px;
}
.home-row {
  display: flex;
  align-items: center !important;
  justify-content: center;
  height: 100%;
}

/*---- homepage css---- */

/*---- services css---- */
#slider > div > div > h3 {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
}
#slider > div > div > h1 {
  color: #000;
  font-size: 35px;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 2px;
}
#slider > div > div {
  margin-left: 100px;
  margin-bottom: 20px;
}

.services-card {
  border: 3px solid #55c8db !important;
  border-radius: 10px;
}
.services-card p {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  margin-top: 9px;
}
.services-card button {
  border-radius: 5px;
  background-color: #000;
  color: #fff;
  border: none;
  width: 160px;
  height: 37px;
}
.service-line {
  width: 208.5px;
}
.arraow-slide {
  width: 50px;
  height: 35px;
  position: relative;
  top: 5rem;
  color: #000;
  border-radius: 50%;
  border: 1px solid #000;
  display: none;
}
/*---- services css---- */

/*---- Banner css---- */

.banner {
  width: auto;
  height: 280px;
  flex-shrink: 0;
  background: #e2fbff;
}
.banner-row {
  display: flex;
  align-items: center !important;
  justify-content: center;
  height: 100%;
}
.list-menu {
  margin-left: 100px;
}
.list-menu ul {
  width: 600px;
}

.banner1 h5 {
  color: #008db3;
  text-align: center;
  font-family: "Alex Brush", cursive;
  font-size: 60px;
  font-style: normal;
  font-weight: 200 !important;
  line-height: normal;
  letter-spacing: 2px;
}

.banner1 p {
  color: #000;
  text-align: center;
  /* font-family: Montserrat; */
  font-size: 40px;
  font-weight: 300;
  line-height: normal;
  letter-spacing: 2px;
}
.banner-text {
  color: #000;
  text-align: justify;
  font-family: Montserrat;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: 2px;
  margin-bottom: 37px;
  width: 500px;
}
.banner2 {
  display: flex;
  flex-direction: column;
}
.book-btn {
  color: #008eb4;
  width: 294px;
  height: 53px;
  border-radius: "5px";
  background-color: #fff;
  border: none;
}
/*---- Banner css---- */

/*---- advice css---- */
.advice {
  width: auto;
  height: auto;
  margin-bottom: 15px;
}
.advice-row {
  display: flex;
  align-items: center !important;
  justify-content: center;
  height: 100%;
}
.advice-img {
  width: 100%;
}
.advice-content > div > h5 {
  color: #000;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  padding-bottom: 40px;
}
.advice-content > div > p {
  color: #000;
  text-align: justify;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1px;
  padding-bottom: 40px;
}
.advice-content > div > button {
  border-radius: 5px;
  background: #114c5f;
  width: 150px;
  height: 45px;
  color: #fff;
  font-size: 15px;
  border: none;
}
/*---- advice css---- */

/*---- products css---- */
.product-content {
  margin-left: 100px;
}
.product-content h4 {
  color: #000;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  letter-spacing: 2px;
}
.product-content p {
  color: #000;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  margin-top: 15px;
}
.product-btn {
  border-radius: 5px;
  background: #114c5f;
  width: 150px;
  height: 45px;
  color: #fff;
  font-size: 15px;
  border: none;
}
.product-text {
  width: 85%;
  margin-bottom: 45px;
}

.product-card > .card,
.product-card > .card > .card-header,
.product-card > .card > .card-body,
.product-card > .card > .card-footer {
  border: none;
  background-color: #fff;
}

.product-card > .card > .card-footer button {
  border: none;
  margin: 10px;
  border-radius: 3px;
  background: #114c5f;
  color: #fff;
  padding: 0.5rem 1.5rem;
}
.product-card > .card {
  margin: 30px 0;
}

.bgimg {
  position: relative;
  z-index: 1;
}
.product-img {
  position: absolute;
  z-index: 9;
  max-width: 100%;
}
.mycontainer {
  max-width: 95%;
}
/*---- products css---- */

/*---- promo css---- */
.promo-box1 {
  height: 163px;
  /* flex-shrink: 0; */
  background: #ffe6b4;
  /* margin-right: 10px; */
  margin-bottom: 20px;
}
.promo-box2 {
  height: 163px;
  /* flex-shrink: 0; */
  background: #ffe2e7;
  /* margin-right: 10px; */
  margin-bottom: 20px;
}
.promoimg {
  width: 174.79px !important;
  height: 260px !important;
  position: relative;
  bottom: 103px;
}
.head {
  padding: 22px 16px;
}
/*---- promo css---- */

/*---- read css---- */
.read-row {
  display: flex;
  align-items: center !important;
  justify-content: center;
  height: 100%;
}
/*---- read css---- */

/*---- customer css---- */

/*---- customer css---- */

.testimonial-card .card-up {
  overflow: hidden;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
}
.testimonial-card {
  /* min-width: 360px; */
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  border-radius: 50px 50px 0px 0px;
}
.testimonial-card .avatar {
  width: 100%;
  overflow: hidden;
  border: none;
}
.testimonial-card > .card-body {
  background-color: #000;
}
/* footer css */
.footer > footer > h5 {
  color: #000;
  text-align: center;
  font-family: Montserrat;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  padding-top: 20px;
}
/* footer css */
@media screen and (max-width: 768px) {
  .logo-img {
    margin-left: 0;
  }
  .batch-btn {
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .homePage {
    height: 1000px;
  }

  #slider > div > div {
    margin-left: 0px;
  }
  .banner2 {
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 576px) {
  .promo-box1,
  .promo-box2 {
    width: calc(50% - 4%);
  }
}
@media screen and (max-width: 576px) {
  .banner-text {
    width: auto;
  }
  .product-content {
    margin-left: 0px;
  }
  .product-text {
    width: 100%;
  }
  .payment-box {
    display: none;
  }
}
@media screen and (max-width: 1200px) {
  .nav-item,
  .bag-icon {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .product-img {
    max-width: 25% !important;
  }
}

@media screen and (max-width: 992px) {
  .nav-item {
    display: block;
  }

  .home-content {
    margin-bottom: 15px;
  }
  .services-card {
    margin-bottom: 10px;
  }
  .banner {
    height: 650px;
  }
  .banner2 {
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 1400px) {
  .logo-img {
    margin-left: 0;
  }
}
@media screen and (min-width: 992px) {
  .arraow-slide {
    display: block;
  }
}
